<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/mainLayout.html">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <style>
        a {
            text-decoration: none;
        }
        span {
            font-weight: bold;
        }
    </style>
</head>
<body>
<div layout:fragment="mainFragment" class="w-50 mx-auto">
    <form th:action="@{'/addReq'}" method="post">
        <label class="form-label">ФИО:</label>
        <input class="form-control" type="text" required autofocus placeholder="ФИО:" name="username">

        <label class="form-label">Курс:</label>
        <select class="form-select" name="course">
            <option disabled selected>Выберите курс</option>
            <option th:each="c: ${courses}" th:text="${c.getName()} +' – '+ ${c.getPrice()} +' USD'" th:value="${c.getId()}"></option>
        </select>

        <label class="form-label">Телефон:</label>
        <input class="form-control" type="text" required placeholder="+7(7__)-___-____:" name="phone">

        <label class="form-label">Комментарии:</label>
        <textarea class="form-control" type="text" placeholder="Комментарии" name="comment"></textarea>
        <br>
        <button class="btn btn-success" type="submit">Добавить заявку</button>
    </form>
</div>
<script type="text/javascript" src="/js/bootstrap.bundle.js"></script>
</body>
</html>